@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/*General styes*/
html {
    min-height: 100%;
    position: relative;
}

body {
    font-family: 'Anton', sans-serif;
    margin: 0;
}

/*Header*/
header {
    text-align: center;
    height: 50px;
}

/*Game Area*/
#game-area{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    text-align: center;
}


#players-choice{
    float: left;
    background-color: lightgrey;
    width: 45%;
}

#player-image{
    width: 75%;
}

#bots-choice{
    float: right;
    background-color: lightgrey;
    width: 45%;
}

#bot-image{
    width: 75%;
}
 /*Choices area*/
 #choices{
    display: inline-block;
    margin: 10px;
    width: 100%;
    height: 40px;
    font-size: 150%;
    /*background-color: aqua;*/
 }

 #choices button{
    all: unset;
    display: inline-block;
    margin: 2%;
 }


/*footer*/
footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    min-height: 80px;
    padding-top: 5px;
    text-align: center;
    background-color: grey;
}